*{
    padding: 0; margin: 0;
}




.tab_type1 ul { display: flex; padding: 0; height:60px; border-bottom:1px solid #80caff;}
.tab_type1 ul li { flex:1; cursor: pointer; color: #003b66;}
.tab_type1 ul li:first-child { border-left: 1px solid #ddd;}
.tab_type1 ul li{ display: block; height: 59px; border:1px solid #ddd; 
	border-left: none; border-bottom:none; font-size: 20px; text-align: center; line-height: 59px; text-decoration: none;}
.tab_type1 ul li.current { position: relative;height: 58px; border-color:#80caff; border-top-width: 2px; line-height:57px; border-bottom: 1px solid #fff; }
.tab_type1 ul li.current:before { content: ""; position: absolute; left:-1px; top: -2px; width: 1px; height: 100%; background: #80caff; border-top:2px solid #80caff;}

.tab-content{
    display: none;
    
  }
  
.tab-content.current{
    display: inherit;
} 

